<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let task of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="task.checked">
            <input type="text" (keyup)="validationInput(task.task, i)" [(ngModel)]="task.task" [ngClass]="{'checked': task.checked}">

            <button (click)="deleteItem(i)">
                <img src="assets/icons/lixeira.png" class="lixeira">
            </button>
        </li>
    </ul>
</section>


<app-todo-input-add-itens (emmitItemTaskList)="addTask($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllItens()"></app-todo-button-delete-all>
