<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let task of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="task.checked">
            <input type="text" [(ngModel)]="task.task">

            <button>
                <img src="assets/icons/lixeira.png" class="lixeira">
            </button>
        </li>
    </ul>
</section>


<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length"></app-todo-button-delete-all>
